@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Share+Tech+Mono');

body{
  background-color: black;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  text-align: center;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: inherit;
}


#sidebar{
  position: absolute;
  left: -200px;
  top: 0;
  height: 100vh;
  width: 200px;
  z-index: 2;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 28px;
  box-sizing: border-box;
}

.open{
/*left: 100px !important; */
  transform: translateX(100%);
  transition-duration: 0.4s;
}

.close{
/*left: 0; */
  transform: translateX(0);
  transition-duration: 0.4s;
}

#sidebar-toggle{
    position: absolute;
    top: 20px;
    padding: 5px 10px;
    font-size: 2em;
    color: red;
    cursor: pointer;
    right: -55px;
}

.sidebar-item{
  margin: 15px 0;
  font-weight: 400;
  line-height: 0px;
  padding: 3px 20px;
  cursor: pointer;
  color: #ddd;
}
.sidebar-item:hover{
  border-bottom: 4px solid red;
  margin: 14px 0;
}

.page-title{
  padding: 20px 0;
  font-family: 'Share Tech Mono';
  font-size: 2em;
}
.main-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.intro{
  padding: 70px 0;
}
.play-shortcut{
  cursor: pointer;
  font-size: 4em;
  position: absolute;
  top: 120px;
}

.social{
  position:absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
    cursor: pointer;
}
.social>*{
  font-size: 1.25em;
  padding: 2px 6px;
}


.video-container {
    height: 300px;
    width: 90vw;
    overflow: hidden;
    position: relative;
}

video {
  z-index:-2;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/*      Styles for Mobile Devices     */

@media (max-width: 1024px){
  body{
    font-size: 3em;
  }
  #sidebar{
    width: 85vw;
    left: -85%;
    padding: 100px 0 0 20px;
  }
  .sidebar-item{
    font-size: 1em;
    margin: 40px 0;
  }
  #sidebar-toggle{
    right: -135px;
  }
  .social>*{
    padding: 2px 13px;
  }
}
