@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500|Source+Sans+Pro:300,400,700');

body{
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 30%;
  color: #dbdbdb;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  text-align: center;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: inherit;
}

.divider{
  margin: 10px 0;
  width: 100%;
  height: 0.5px;
  background-color: #dbdbdb;
}


.page-title{
  padding: 20px 0;
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 4px;
}
.subtitle-container {
  margin: 50px 0 20px 0;
}
.subtitle {
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
  font-size: 22px;
  letter-spacing: 7px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 300;
  padding: 15px 25px;
}
.subtitle:hover {
  font-weight: 400;
}
.active-subtitle {
  color: #fff;
  font-weight: 400;
  cursor: default;
}
.input-text{
  color: #80FF00;
}
.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.highlight {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.skills {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  background: #0871d23d;
  padding: 5px 15px;
  border-radius: 6px;
}
.social{
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  z-index: 9;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #dadada;
}
.social>*{
  font-size: 0.9em;
  padding: 2px 10px;
  color: #dadada;
}
.social>*:hover {
  color: white;
}

.section {
  
}

.plus {
  transition: transform 0.2s ease-in-out;
}
#engineering-subtitle {
  background: linear-gradient(45deg, #2DAC3A, #299D3C 50%, #40A663 100%);
}
#design-subtitle {
  background: linear-gradient(45deg, #4A2DAC, #7F299D 50%, #40A663 100%);
}

img{
  border-radius: 0px;
}
.inner-page{
  padding: 0 20%;
  text-align: left;
  justify-content:flex-start;
  align-items: initial;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -1px;
}
.play-heading{
  width: fit-content;
  width: -moz-fit-content;
  padding: 2px 10px;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 50px;
  letter-spacing: -3px;
}
.play-item{
  display: flex;
  align-items: center;
}
.play-item-text{
  width: fit-content;
  width: -moz-fit-content;
  background-color: white;
  color: #F23665;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  font-family: Consolas, sans-serif;
  height: fit-content;
  border-radius: 0;
  margin-right: 50px;
  box-shadow: 5px 5px white;
}
.play-item-title{
    font-size: 1.5em;
}
.play-item-description{
  padding: 2px 0;
  font-size: 0.5em;
  letter-spacing: 0;
}
.play-item-image{
  width: 100%;
  height: 100%;
}
.play-item-image img {
  width: 100%;
}

.black-container {
  background-color: rgb(0, 0, 0, 0.7);
  padding: 10px 10px;
  margin-bottom: 30px;
}
.work-heading{
  margin: 0 0 30px;
  border-bottom: solid 1px grey;
  letter-spacing: 0;
  font-weight: 300;
  padding-bottom: 8px;
}
.work-heading span{
  padding: 2px 10px;
}
.work-item{
  margin: 10px 30px;
}
.work-item-text{
  display: flex;
  justify-content:space-between;
  font-size: 0.7em;
}
.showcase-item-title{
  color: chartreuse;
}
.work-item-title {
  margin-top: 7px;
  color: chartreuse;
}
.work-item-description{
  border-bottom: solid 1px #38bd16;
  padding: 10px 10px;
  font-weight: 400;
  letter-spacing: -0.8;
  line-height: 1;
}
.work-item-date{
  font-size: 0.8em;
  padding: 10px 10px;
}
.work-item-tag{
  background-color: green;
  padding: 2px 4px;
  border-radius: 2px;
}

/*      Styles for Mobile Devices     */

@media (max-width: 1024px){
  body{
    font-size: 3em;
    padding: 0 15%;
  }
  .subtitle-container {
    margin: 80px 0;
  }
  .social>*{
    padding: 2px 20px;
  }
  .intro{
    margin: 120px 0;
    font-size: 1em;
    width: 80vw;
    margin-left: 5em;
  }
  .play-shortcut{
    margin-top: 95px;
    font-size: 2em;
  }
  .inner-page{
    font-size: 1.1em;
    padding: 0 7%;
    margin-left: 2em;
  }

  .hobbies-item {
    padding: 20px 0;
  }
  .hobbies-item>a {
    flex-direction: column;
  }
  .work-item {
    margin: 30px;
  }
  .work-item-text{
    flex-direction: column;
  }
  .work-item-title{
    margin: 20px 0;
  }
  .play-heading{
    margin-top: 100px;
  }
  .play-item{
    flex-direction: column;
  }
  .play-item-text{
    margin-bottom: 50px;
  }
  .play-item-image img{
    width: 700px;
  }
  .work-item-description{
    width: fit-content;
    width: -moz-fit-content;
  }
  .work-item-date{
    width: fit-content;
    width: -moz-fit-content;
  }
  .work-item-tags{
    margin: 20px 0;
  }
  .showcase-mob{
    box-shadow: none;
  }
}
